.embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  padding: 40px 0;
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.shadow_over_testimonials {
  @apply relative !flex h-[400px] w-full max-w-[1200px] items-center justify-center gap-5 overflow-hidden;
}

.shadow_over_testimonials:before,
.shadow_over_testimonials:after {
  @apply absolute top-0 h-full w-[100px] md:w-[250px];
  content: "";
  z-index: 2;
}

.shadow_over_testimonials:before {
  left: -10px;
  background: linear-gradient(to left, transparent, #020617);
}

@media (max-width: 768px) {
  .shadow_over_testimonials:before {
    left: -60px;
    background: linear-gradient(to left, transparent, #020617);
  }
}

.shadow_over_testimonials:after {
  right: 0;
  background: linear-gradient(to right, transparent, #020617);
}

@media (max-width: 768px) {
  .shadow_over_testimonials:after {
    right: -60px;
    background: linear-gradient(to right, transparent, #020617);
  }
}
